@font-face {
  font-family: "Kalnia";
  src: local("Kalnia"), url("./assets/Kalnia.ttf") format("truetype");
}

body {
  font-family: "Kalnia";
  background-color: #fee1e1;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

#title {
  font-size: 12rem;
}

.red {
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border: red 2px solid;
  border-radius: 12px;
  padding: 0.2rem 1rem;
  cursor: pointer;
}

.home-btn {
  font-size: 2rem;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  height: 2.6rem;
}

.form-input {
  width: 64%;
  border-radius: 5px;
  border: none;
  padding: 0.2rem 2rem;
  height: 100%;
  font-size: 2rem;
  text-align: center;
}

.form-input::placeholder {
  font-size: 1rem;
}
